.tabs {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    z-index: 999;
  }
  
.panel-list {
  width: calc(100vw - 320px);
  padding: 0.5rem 1rem 0;
  position: relative;
}

.panel-title {
  text-align: center;
  font-size: 2.5rem;
  color: var(--ink-black);
}

.tab-list{
  width: 320px;
  background: var(--light-blue);
}

.tab {
  color: white;
  display: grid;
  grid-template-columns: 100px auto;
  align-items: center;
  justify-items: center;
  padding: 1rem 0;
  cursor: pointer;
}

.tab:hover{
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
    transition: all 0.2s linear;
}

.tab-txt {
  justify-self: start;
  padding: 0 1rem;
}

@media (max-width: 768px) {
  .tabs{  
  }
  .tab-list{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    position: fixed;
  }
  .panel-list{
    width: 100%;
    margin-top: 70px;
  }
  .tab {
    padding: 0.75rem 0;
    grid-template-columns: auto;
    box-shadow: inset 2px 2px 2px 0px rgba(255,255,251,.15);
  }
  .tab:hover {
    box-shadow: inset 1px 2px 3px 0 rgba(0,0,0,0.2);
  }
  .tab span {
    text-align: center;
    display: none;
  }
}
